body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #23b499;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

#root {
  position: absolute;
  top: 0px;
  width: 100%;
  justify-content: center;
}

.navbar {
  height: 120px;
  width: 100%;
  background-color: lightblue;
}

.dashboard {
  margin: auto;
  position: relative;
  height: 100%;
  width: 550px;
  padding: 12px 36px;
}
select {
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  appearance:none;
  outline:0;
  box-shadow:none;
  border:0!important;
  background: #5c6664;
  background-image: none;
  flex: 1;
  padding: 0 .5em;
  color:#fff;
  cursor:pointer;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}
select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #5c6664;
  overflow: hidden;
  border-radius: .25em;
}
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #2b2e2e;
  cursor:pointer;
  pointer-events:none;
  transition:.25s all ease;
}
.select:hover::after {
  color: #23b499;
}

.dashboard-list {
  list-style-type: none;
  margin-top: 20px !important;
}

.unanswered-questionDash {
  padding: 12px;
  border:1px solid black;
  border-radius: 25px;
}

.unanswered-question {
  margin: auto;
  position: center;
}

.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}

.unanswered-pollpage {
  margin: auto;
  position: relative;
  height: 100%;
  width: 100%;
  width: 550px;
  padding: 12px 36px;
}

.leaderboard {
  margin: auto;
  position: relative;
  height: 100%;
  width: 550px;
  padding: 12px 36px;
}
.leaderboard-item {
  background-color:#add8e6;
  border:4px solid grey;
  margin: 5px;
  height: 150px;
  width: 400px;
}
.leaderboard-image {
  background-color: #add836;
  display: inline-block;
  vertical-align: top;
  padding: 5px;
  border-right: 2px solid grey;
  border-bottom: 2px solid grey;
}
.leaderboard-stats {
  display: inline-block;
  padding-left: 14px;
  padding-right: 6px;
}

.leaderboard-score-wrapper {
  display:inline-block;
  vertical-align: top;
  width: 90px;
  padding: 4px 15px 4px 20px;
}

.leaderboard-score {
  position: center;
  height: 83px;
  width: 60px;
  border: thick solid black;
  border-radius: 18%;
  text-align: center;
}

.leaderboard-score-title {
  background-color: black;
  color:white;
}

.newquestion {
  margin: auto;
  position: relative;
  height: 100%;
  width: 550px;
  padding: 12px 36px;
}
